---
import Navbar from "../components/navbar.astro";
import Layout from "./layout.astro";
---

<Layout>
  <Navbar />
  <div class="text-center mt-16">
    This page is to demonstrate view transitions. <a
      href="/"
      class="text-blue-500 underline">Click here</a
    > to go back.
  </div>
</Layout>
