---
import Navbar from "../components/navbar.astro";
import Layout from "./layout.astro";
---

<Layout>
  <Navbar />
  <h1 class="text-center font-medium text-2xl mt-16">Astro Nav Demo</h1>
  <div class="m-40 mt-72 bg-pink-50" style="height: 1500px;"></div>
</Layout>
