---
import Navbar from "../components/navbar.astro";
import Layout from "./layout.astro";
---

<Layout>
  <Navbar />
  <h1 class="text-center font-medium text-2xl mt-16">Astro Nav Demo</h1>
</Layout>
