---
interface Props {
  class?: string;
}
const { class: className, ...rest } = Astro.props;
---

<span class:list={["astronav-close-icon astronav-toggle hidden", className]} {...rest}>
  <slot />
</span>
