---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<div
    class:list={["astronav-dropdown dropdown-toggle hidden", className]}
    aria-expanded="false">
    <slot />
</div>
