---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<button id="astronav-menu">
  <slot>
    <svg
      fill="currentColor"
      class:list={[className]}
      width="24"
      height="24"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg">
      <title>Menu</title>
      <path
        class="astronav-toggle hidden"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"
      ></path>
      <path
        class="astronav-toggle"
        fill-rule="evenodd"
        d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"
      ></path>
    </svg>
  </slot>
</button>
